.categories {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: space-between;
}
.category {
    padding-bottom: 7px;
}
.category span {
    cursor: pointer;
    font-weight: 600;
    color: #adadad;
}
#categoy-found-container {
    background-color: #efefef;
}
#category-item-found {
    color: #363636;
    font-size: 20px;
    font-weight: 500;
    margin-left: 12px;
}
.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* Responsive */
@media screen and (max-width: 576px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
}
@media screen and (min-width: 576px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
    }
}
@media screen and (min-width: 768px) {
    .categories {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1200px) {
    .categories {
        grid-template-columns: repeat(8, 1fr);
        text-align: center;
    }
}